.lang-section {
  text-align: right;
}
.active-lang {
  font-weight: bold;
}
.samp {
  font-family: 'Courier New', monospace;
}
.samp-highl {
  font-family: 'Courier New', monospace;
  background-color: #DFDFDF;
  border-radius: 6px;
  padding: .05em .2em;
}
.samp-vwide {
  padding: .5em .5em;
}
.samp-comment {
  font-size:.875rem!important;
}
.sum-table tr .alncenter {
  text-align: center;
}