:root {
  --main-bg-color: #D66E00;
  --active-color: #2840AB;
}
h1, h2, h3, h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}
html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}
.container {
  width: 1280px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.warn-section {
  padding: 1.0em .6em;
  background-color: rgba(255, 82, 82, 0.2);
  border-radius: 6px;
  text-align: center;
}
a {
  color: var(--main-bg-color);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
  color: var(--active-color);
}
.pad-anchor {
  display: block;
  visibility: hidden;
}
.sum-table {
  margin-top: 1.7rem;
  border-collapse: collapse;
}
.sum-table caption {
  caption-side: top;
  font-weight: bold;
  padding-bottom: 7px;
}
.sum-table tr .numcol {
  text-align:right;
}
.sum-table tr .subhead {
  text-align:center;
  color: #7A7A7A;
  font-weight: bold;
}
.sum-table tr .seqid-td {
  font-size: .85rem;
}
.sum-table tr .alnleft {
  text-align:left;
}
.sum-table tr:first-child {
  border-top: solid #505050 1.5px
}
.sum-table tr:first-child, .sum-table tr:last-child {
  border-bottom: solid #303030 1px
}
.sum-table .sumtab-row:nth-child(even) {background-color: #eaeaea;}
.sum-table tr td, .sum-table tr th {
  padding: .3rem .6rem .3rem .6rem;
}
.sum-table tr .feature-col {
  max-width: 16rem;
}
.alcentr {
  text-align: center;
}
ul > li {padding-bottom: 7px}
.content-index a {font-weight: bold}
ul ul li:first-of-type, ol ol li:first-of-type {padding-top:.4rem;}
ul ul {list-style-type: none;}
details > summary {
  cursor: pointer;
}
.sabaka {
  border: 0px;
  height: 1rem;
  width: 1rem;
}
.primer-cov-tbody {
  font-size: .7rem;
}