:root {
  --main-bg-color: #D66E00;
  --active-color: #2840AB;
}
html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}
.container {
  width: 1280px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.warn-section {
    padding: 1.0em .6em;
    background-color: rgba(255, 82, 82, 0.2);
    border-radius: 6px;
    text-align: center;
}
a {
  color: var(--main-bg-color);
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: var(--active-color);
}
